<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="style.css" />

        <script src="collision.js"></script>
        <script src="./point.js"></script>
        <script src="./line.js"></script>
        <script src="./polygon.js"></script>
        <script src="./physics.js"></script>
    </head>

    <body>
        <canvas id="canvas"></canvas>
        <p>Point: <span id="point"></span></p>
        <p>Winding Number: <span id="windingNumber"></span></p>
    </body>
</html>